html {
	box-sizing: border-box;
}
*,
:after,
:before {
	box-sizing: inherit;
}

:root {
	--barva-logo: #101829;
    --barva-bila: #ffffff;
    --barva-svetle-seda: #dee1e7;
}


body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: var(--barva-logo);
    height: 100%;
    width: 100%;
    margin: 0;
}

p {
    padding: 10px 30px 0px 30px;
    text-align: justify;
}

/*
.obsah {
    max-width: 600px;
    margin: auto;
}
*/

.logo {
    padding: 30px;
/*   background-color: var(--barva-logo);  */
    margin: 40px 20px;
}

.logo__obrazek {
    background-image: url(obrazky/loga/SVG/Kladne\ Nuly_logo_cerne.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 180px;
    width: auto;
}

.o_nas__nadpis {
    display: none;
}

.download_button {
    background-color: var(--barva-bila);
    border: 2px solid var(--barva-logo);;
    color:var(--barva-logo);
    margin: 50px;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 12px;
}

.download_button:hover {
    background-color: var(--barva-svetle-seda);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
 

.kontakty__popisek {
    font-weight: 600;  
}

.kontakty__popisek::after {
    content: ": ";
}

.kontakty__hodnota {
    margin: 0;
    padding: 0.2em 0 1em 0;
}

a {
    color: var(--barva-logo);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}




  /* ----------- Tablety ---------- */

  @media (min-width: 600px) {

    body {
        padding: 0px 80px;
    }

    .logo {
        min-height: 200px;
        width: auto;
    }


}


 /* ----------- PC ---------- */


 @media (min-width: 950px) {


    .main {
        max-width: 1000px;
        margin: auto;
    }

    .wrapper {
        margin: 60px 0px;
        max-width:none;
        display: flex;
        align-items: center;
        justify-content: space-between;   
        flex-direction: row-reverse;    
        padding: 0px 30px; 
    }


 /*   .kontakty {
        padding: 2em 1em 6em 1em;
        text-align: left;
    }  
*/
    .kontakty {
        text-align: left;
        padding: 2em 1em 3em 1em;
    } 

    .kontakty__nadpis {
        text-align: center;
    }
    
    .kontakty__seznam {
        padding: 0.5em;
    }
    
    .kontakty__popisek {
        float: left;
        clear: left;
        width: 100px;
        text-align: right;
        padding: 0.2 0 0.5em 0;
        margin: 0 0 0 20px;
    
    }
    
    .kontakty__popisek::after {
        content: ": ";
    }
    
    .kontakty__hodnota {
        float: left;
        margin: 0 0 0 20px;
        padding: 0 0 0.5em 0;
    }


    .kontakty {
        padding: 0;
    }

     .logo {
        min-width: 250px;
        height: auto;
    }

}
