html {
	box-sizing: border-box;
}
*,
:after,
:before {
	box-sizing: inherit;
}

:root {
	--barva-logo: #0f1728;
}


body {
    text-align: center;
    padding: 30px;
    font-family: urbane-rounded, sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--barva-logo);
    height: 100%;
    width: 100%;
}

.obsah {
    max-width: 600px;
    margin: auto;
}

.logo {
    background-image: url(obrazky/Kladne_Nuly-naVysku.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 250px;
    width: auto;
}

.udaje {
    text-align: left;
    padding: 2em 1em 3em 1em;
}  

.udaje__popisek {
    font-weight: 400;  
}

.udaje__popisek::after {
    content: ": ";
}

.udaje__hodnota {
    margin: 0;
    padding: 0.2em 0 1em 0;
}

a {
    color: var(--barva-logo);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

  /* ----------- Tablety ---------- */

  @media (min-width: 600px) {

    .logo {
        background-image: url(obrazky/Kladne_Nuly-naSirku.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        min-height: 200px;
        width: auto;
    }

    .udaje {
        padding: 2em 1em 6em 1em;
    }  
    
    .udaje__seznam {
        padding: 0.5em;
    }
    
    .udaje__popisek {
        float: left;
        clear: left;
        width: 100px;
        text-align: right;
        padding: 0.2 0 0.5em 0;
        margin: 0 0 0 20px;
    
    }
    
    .udaje__popisek::after {
        content: ": ";
    }
    
    .udaje__hodnota {
        float: left;
        margin: 0 0 0 20px;
        padding: 0 0 0.5em 0;
    }

}


 /* ----------- PC ---------- */


 @media (min-width: 900px) {

    .obsah {
        margin-top: 80px;
        max-width:none;
        display: flex;
        align-items: center;
        justify-content: center;        
    }

    .udaje {
        padding: 0;
    }

     .logo {
        min-width: 250px;
        height: auto;
    }
}